# .NET build directories
**/bin/
**/obj/

# Node modules & frontend builds
**/node_modules/
**/dist/
.env
.env.*

# IDE settings
.vs/
.vscode/
*.user
*.suo
*.sln.docstates

# OS files
.DS_Store
Thumbs.db
